/* Partnerships.css */
.partnerships-container {
    text-align: center;
    padding: 20px;
  }
  .carousel{
    height: 300px;
  }
  
  /* Additional styling for carousel elements can be added here. */
  